<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Documentation">
    <title>Documentation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</head>
<body>

<style>
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.menu_btn{
  cursor:pointer;
  padding:5px;
}
</style>

<div id="app">

    <body>
        
    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Documentation</a>
    
    
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
          <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">

              <ul class="nav flex-column">
                
                <template v-for="(page, pageno) in json_pages">
                  <li class="nav-item menu_btn"
                      :class="{'bg-dark':apid==pageno,'text-light':apid==pageno}"
                      v-if="page.category==''"
                      @click="changePage(page)">
                        {{ page.title }}
                  </li>
                </template>


                <template v-for="(cat, catname) in json_cats" :key="catname">
                  <li class="nav-item menu_btn" 
                      @click="activateCategory(catname)">
                    <strong>{{catname}}</strong>
                    <button class="btn btn-sm btn-danger float-end" 
                            v-if="show_categories"
                            @click="deleteCategory(catname)">Delete</button>
                  </li>
                  <template v-for="(page, pageno) in json_pages" v-if="cat.visible">
                    <li class="nav-item menu_btn"
                        :class="{'bg-dark':apid==pageno,'text-light':apid==pageno}"
                        v-if="page.category==catname"
                        @click="changePage(page)">
                        &nbsp;&nbsp;{{ page.title }}
                    </li>
                  </template>
                </template>
              </ul>
              


              <br><br><br><br><br><br><br><br><br><br><br>
              <button class="btn btn-outline-dark float-end" 
                      @click="addPage()">Add page</button>
              <button class="btn btn-outline-dark float-end" 
                      @click="editCategories()">Categories</button>
              <button class="btn btn-outline-dark float-end" 
                      @click="copyToClipboard()">{{ copy_btn_text }}</button>
              <button class="btn btn-outline-dark float-end" 
                      @click="downloadStructure()">Save config</button>
              <pre>{{ jsonData }}</pre>
              <br><br><br><br><br><br><br><br><br><br><br>
              <br><br><br><br><br><br><br><br><br><br><br>
    
            </div>
          </div>
        </div>
    
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ selected_page.title }}</h1>
            <span class="float-end" >
              <button class="btn btn-outline-dark float-end" 
                      @click="editPage()" 
                      v-if="selected_page&&!show_editor">Edit</button>
              <button class="btn btn-outline-dark float-end" 
                      @click="show_editor=false"
                      v-if="show_editor">Cancel</button>
              <button class="btn btn-outline-dark float-end" 
                      @click="saveContent()"
                      v-if="show_editor">Save</button>
              <button class="btn btn-danger float-end" 
                      @click="deletePage()"
                      v-if="show_editor&&selected_page.id!=1">Delete</button>

            </span>
          </div>

          <div  v-html="selected_page.content"
                v-if="!show_editor"></div>

          <div v-show="show_editor">
            <table class="table lead">
              <tr>
                <td width="20%" class="pt-3">Title</td>
                <td><input type="text" class="form-control" v-model="selected_page.title"></td>
              </tr>
              <tr>
                <td width="20%" class="pt-3">Category</td>
                <td>
                  <div>
                    <span class="btn btn-sm btn-dark me-1" @click="selected_page.category=''">Clear</span>
                    <button v-for="(cat, catname) in json_cats" 
                          class="btn btn-sm btn-dark me-1" 
                          v-if="catname!=''"
                          @click="selected_page.category=catname">{{catname}}</button>

                  </div>
                  <input type="text" class="form-control" v-model="selected_page.category">
                </td>
              </tr>
              <tr>
                <td width="20%" class="pt-3">Order</td>
                <td><input type="number" class="form-control" v-model="selected_page.order_no"></td>
              </tr>
            </table>
            <p class="lead">Content</p>
            <div id="editor" style="height:500px"></div>
          </div>



        </main>
      </div>
    </div>
    
    
    </body>
</div>

<script src="./structure.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


<script>
  
</script>
<script type="module">
  import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'

  createApp({
    data() {
        return {
            jsonData:       jsonData,
            json_cats:      {},
            json_pages:     {},
            quill:          null,
            selected_page:  {},
            copy_btn_text:  "Copy structure",
            apid:           "",
            show_editor:    false,
            show_categories:false,
        };
    },
    setup() {
      // let url_params = new URLSearchParams(window.location.search);
      // this.apid = url_params.get('apid')
      // if(this.apid){
      //   this.selected_page = this.json_pages[this.apid]
      // }else{
        // this.selected_page = this.json_pages[1]
      // }
      // this.changeIframeSrc('myIframe', 'homepage.html')
    },
    mounted() {
      let url_params = new URLSearchParams(window.location.search);
      this.apid = url_params.get('apid')
      this.syncData();
      if(this.apid){
        this.selected_page = this.json_pages[this.apid]
      }else{
        this.selected_page = this.json_pages[1]
      }
      if(this.selected_page.category){
        this.jsonData.categories[this.selected_page.category].visible=true;
      }
    },
    methods: {
        reorderCategories(reorderObj){
          return Object.entries(reorderObj)
            .sort((a, b) => a[1].order_no - b[1].order_no)
            .reduce((acc, [key, value]) => {
                acc[key] = value;
                return acc;
            }, {});
        },

        async copyToClipboard() {
          
          for(let cat in this.jsonData["categories"]){
            this.jsonData["categories"][cat].visible = false
          }
          try {
            let jsonString = JSON.stringify(this.jsonData, null, 2); 
            jsonString="const jsonData = "+jsonString
            await navigator.clipboard.writeText(jsonString);
            this.copy_btn_text = "Copied!"
          } catch (err) {
            this.copy_btn_text = "Copy failed!"
          }
          await this.wait(5000);
          this.copy_btn_text = "Copy structure"
        },

        wait(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        },


        changePage(page){
          this.apid = page.id
          this.selected_page=page
          this.show_editor = false
          window.history.pushState({}, '', '?apid='+this.apid)
        },
        editPage(){
          this.show_editor = true
          this.$nextTick(() => {
            if (!this.quill) {
              this.quill = new Quill('#editor', {
                theme: 'snow'
              });
            }
            this.quill.root.innerHTML = this.selected_page.content;
          });
        },
        saveContent() {
          this.show_editor = false
          this.selected_page.content = this.quill.root.innerHTML;
        },
        deletePage() {
          delete this.jsonData["pages"][this.selected_page.id]
          this.syncData();
          this.show_editor = false
          this.selected_page = false
        },
        addPage() {
          // check id doesnt exist
          let arr_existing_ids = []
          let max_id_no = 0;
          for(let pageidx in this.json_pages){
            pageidx = parseInt(pageidx)
            max_id_no = parseInt(max_id_no)
            let page = this.json_pages[pageidx]
            max_id_no = pageidx>=max_id_no ? pageidx+1 : max_id_no;
            arr_existing_ids.push(pageidx)
          }
          let newPage = {...this.json_pages[1]}
          newPage.id = max_id_no
          newPage.title = "New page"
          newPage.order_no = 1
          newPage.content = "New page"
          newPage.category = ""
          let max_id_no_str = max_id_no.toString();
          this.jsonData.pages[max_id_no_str] = {...newPage}
          this.syncData();
        },
        syncData() {
          this.json_pages = this.reorderCategories(this.jsonData["pages"]);
          this.json_cats = this.reorderCategories(this.jsonData["categories"]);
        },
        activateCategory(catname) {
          for(let cat in this.jsonData["categories"]){
            if(catname!=cat){
              this.jsonData["categories"][cat].visible = false
            }
          }
          this.jsonData["categories"][catname].visible=!this.jsonData["categories"][catname].visible
        },
        editCategories() {
          this.show_categories = true;
        },
        deleteCategory(catname){
          for(let page in this.jsonData["pages"]){
            this.jsonData["pages"][page].category = ""
          }
          delete this.jsonData["categories"][catname];
          console.log(this.jsonData)
          this.syncData();
        },


        downloadStructure() {
          // Convert JSON data to string format for .js file
          const jsContent = "const jsonData = " + JSON.stringify(this.jsonData, null, 2) + ";";

          // Create a Blob object from the string
          const blob = new Blob([jsContent], { type: "text/javascript" });

          // Create a download link and trigger the download
          const link = document.createElement("a");
          link.href = URL.createObjectURL(blob);
          link.download = "structure.js";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        },




        isLocallyHosted() {// Use this to autogenerate new pages, using the json file to calc the next page part id
            return window.location.protocol === 'file:';
        },
    },
  }).mount('#app')
</script>


</body>
</html>
